version: '3.8'

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    network_mode: "host" 
    volumes: 
      - /home/Caddy/Caddyfile:/etc/caddy/Caddyfile 
      - /home/Caddy/data:/data 
      - /home/Caddy/config:/config                   
    environment:
      - ACME_AGREE=true
